<template>
    <require from="../../components/stamps/stamp-replacement-table"></require>
    <require from="../../components/search/search-form"></require>
    <require from="resources/styles/views/catalogues/catalogue-upgrade.css"></require>

    <div class="container-fluid stamp-replacement-main">
        <div class="col-lg-4 stamp-replacement-search">
            <search-form show-minimize="false"></search-form>
        </div>
        <div class="col-lg-8 stamp-replacement-content" >
            <div class="form-group form-group-sm">
                <label for="cn-catalogueRef" class="col-sm-3 control-label">Catalogue</label>
                <div class="col-sm-9">
                    <select-picker items.bind="catalogues" disabled.bind="loading" value.two-way="model.catalogueRef"
                                   config.bind="{ id: 'cn-catalogueRef', tabIndex: 70, labelProperty: 'displayName', valueProperty: 'id', caption: 'editor.catalogue-select' }">
                    </select-picker>
                </div>
            </div>
            <stamp-replacement-table stamps.bind="stamps"></stamp-replacement-table>
        </div>
    </div>

</template>
