@import "../../../theme/default/default";

nav-bar {
    nav {
        .navbar-brand {
            align-items: center;
            display:     inline-flex;
            height:      $navbar-brand-height;
            padding-top: 0;

            > span {
                margin-right: $theme-margin-base;
            }
        }

        li.active {
            a {
                border-radius: 0.5rem 0.5rem 0 0;
            }
        }

    }
}



