@import "../../../theme/semantic";

nav-bar {
    nav {
        .navbar-brand {
            align-items: center;
            display:     inline-flex;
            height:      $theme-appbar-brand-height;
            padding-top: 0;

            > span {
                margin-right: $theme-margin-base;
            }
        }

        li.active {
            color: $theme-appbar-color;
            a {
                border-radius: 0.5rem 0.5rem 0 0;
            }
        }

    }
}



