@import "../../theme/_semantic.scss";

editor-dialog {

    .help-block {
        padding-top: $theme-padding-thin;
        margin-bottom: 0;
        padding-left: calc(25% + #{1.5rem});
    }

    .modal-header {
        display: block;
        padding: $theme-padding-base;
        background-color: $theme-active-bg;
        color: $theme-active-color;

        .close {
            color: $theme-active-color;
            font-size: $theme-font-size-x-large;
        }
    }

    .modal-body {
        font-size: $theme-font-size-sm;

        input[type='text'], input[type='number'], textarea {
            font-size: $theme-font-size-sm;
        }

        .checkbox {
            height: 1.6rem;
        }
    }

    .modal-footer {
        position: relative;

        .messaging {
            flex: 1 1 auto;
            
            font-size: $theme-font-size-sm;
            i {
                color: $theme-invalid-color;
            }
        }

        button.btn {
            font-size: $theme-font-size-base;
        }
    }

}
