@import "../../theme/_semantic.scss";

editor-dialog {

    .help-block {
        padding-top: $theme-padding-thin;
        margin-bottom: 0;
        padding-left: calc(25% + #{$theme-padding-base});
    }

    .modal-header {
        display: flex;
        padding: $theme-padding-base;
        background-color: $theme-active-bg;
        color: $theme-active-color;
        height: 4rem;

        .dialog-title {
            align-items: center;
            font-size: $theme-font-size-base;
            background-color: $theme-appbar-bg;
            color: $theme-appbar-color;
            display: flex;

            padding: $theme-padding-base;
        }
    }

    .modal-body {
        font-size: $theme-font-size-sm;
        padding: $theme-padding-base $theme-padding-thick;

        input[type='text'], input[type='number'], textarea {
            font-size: $theme-font-size-sm;
        }

        .checkbox {
            height: 1.6rem;
        }
    }

    .modal-footer {
        position: relative;

        .messaging {
            flex: 1 1 auto;
            
            font-size: $theme-font-size-sm;
            i {
                color: $theme-invalid-color;
            }
        }

        button.btn {
            height: $theme-btn-action-height;
        }
    }

}
