@import "../../../theme/_semantic.scss";

ownership-notes {
    .sw-icon-info {
        color: $theme-link-color;
    }
    .sw-icon-defect {
        color: $theme-invalid-color;
    }
    .sw-icon-deception {
        color: $theme-warning-color;
    }
}
