<template>
    <require from="../../resources/elements/select-picker/select-picker"></require>
    <require from="../../resources/value-converters/as-percentage"></require>

    <require from="views/stamps/purchase-form.css"></require>

    <ai-dialog class="purchase-form">
        <ai-dialog-body>
            <div class="dialog-title"><span class="sw-icon-purchased"></span>${'editor.purchase-help'|t}</div>
            <div class="dialog-content">
                <form validation-renderer="bootstrap-form">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">${'editor.purchase-stamp-count'|t}</label>
                        <div class="col-8 col-form-label label-value">${model.selectedStamps.length}</div>
                    </div>
                    <div class="price-entry form-group row">
                        <label for="price-paid" class="col-4 col-form-label">${'editor.purchase-total'|t}</label>
                        <div class="col-8 price-paid">
                            <input type="text"
                                   tabindex="0"
                                   class="form-control"
                                   id="price-paid"
                                   autofocus
                                   autocomplete="off"
                                   value.bind="model.price & validate:rules"
                                   keyup.delegate="priceChanged()">
                            <select-picker items.bind="codes"
                                           class="currency-selector purchase-currency"
                                           value.bind="model.currency"
                                           value-type="String"
                                           config.bind="{ id: 'currency-code', tabIndex: 0, name: 'code', noSearch: true, allowClear: false, labelProperty: 'description', valueProperty: 'keyName' }">
                            </select-picker>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="checkbox">
                            <input type="checkbox" id="update-existing" checked.bind="model.updateExisting">${'editor.modify-existing'|t}
                        </div>
                    </div>
                    <div class="form-group row ${(percentage <= 0) ? 'percentage-not-valid' : ''}">
                        <label class="col-4 col-form-label">${'editor.purchase-percentage'|t}</label>
                        <div class="col-8 col-form-label label-value">
                            <span>${percentage | asPercentage}</span>
                        </div>
                    </div>
                </form>
            </div>
        </ai-dialog-body>
        <ai-dialog-footer>
            <div class="process-progress" if.bind="processing">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow.bind="25" aria-valuemin="0" aria-valuemax="100">
                        ${processingCount / model.selectedStamps.length | asPercentage}
                    </div>
                </div>
            </div>
            <div class="messaging" if.bind="!processing">
                <span show.bind="!isValid">
                    <i class="sw-icon-attention"></i> ${'editor.purchase-error'|t}
                </span>
            </div>
            <div class="button-actions">
                <!---->
                <button class="btn btn-primary" disabled.bind="!isValid" click.trigger="save()">Ok</button>
                <button class="btn btn-secondary" click.trigger="controller.cancel()">Cancel</button>
            </div>

        </ai-dialog-footer>
    </ai-dialog>
</template>
