@import "@@pathToTheme/@@theme/variables.less";

.purchase-form {
    width: 500px;
    .price-paid {
        width: 75px;
        margin-right: @padding-small-horizontal;
    }
    .percentage-not-valid {
        opacity: 0.5;
    }
    .purchase-percentage {
        text-align: left;
        padding-left: 0;
    }
}
