@import "../../theme/_semantic.scss";

.purchase-form {
    width:     50rem;
    font-size: $theme-font-size-sm;

    ai-dialog-body {
        display: flex;
        flex-direction: column;

        .dialog-title {
            font-size:        $theme-font-size-base;
            background-color: $theme-appbar-bg;
            color:            $theme-appbar-color;
            padding:          $theme-padding-base;
        }

        .dialog-content {
            padding:          $theme-padding-thick;
            background-color: $theme-panel-bg;

            form {
                padding: 0;

                .label-value {
                    text-align:   left;
                    padding-left: $theme-padding-thin;
                }

                .price-paid {
                    padding-left: 0;
                    display:      flex;

                    input {
                        width:        7.5rem;
                        margin-right: $theme-margin-thin;
                        font-size:    $theme-font-size-sm;
                    }
                }

                .percentage-not-valid {
                    opacity: 0.5;
                }


                .checkbox {
                    padding-left: calc(33% + #{$theme-padding-thin});
                    width:        100%;

                    input {
                        top:          50%;
                        transform:    translate(0, -50%);
                        position:     relative;
                        margin-right: $theme-margin-thin;
                    }
                }

                .purchase-currency {
                    position:  relative;
                    top:       50%;
                    transform: translate(0, -50%);
                }

                .help-block {
                    width:         100%;
                    margin-bottom: 0;
                    padding-left:  calc(33% + #{$theme-padding-thin});
                }

            }
        }
    }
}

ai-dialog-footer {
    position:         relative;
    height:           5rem;

    .process-progress, .messaging {
        width:        60%;
        display:      inline-block;
        float:        left;
        padding-left: $theme-padding-thick;
        top:          50%;
        transform:    translate(0, -50%);
        left:         0;
        position:     relative;

        .progress-bar {
            height: 1.6rem;
            padding-top: $theme-padding-thinner;
            font-size: $theme-font-size-sm;
        }
    }

    .messaging {
        text-align: left;
        font-size:  $theme-font-size-sm;
        i {
            color: $theme-invalid-color;
        }
    }

    .button-actions {
        position:  relative;
        right:     $theme-padding-base;
        bottom:    0;
        top:       50%;
        transform: translate(0, -50%);
        float:     right;

        button {
            margin-left: $theme-margin-thin;
        }
    }
}
