<template>
    <require from="../../widgets/select-picker/select-picker"></require>
    <require from="../../value-converters/as-percentage"></require>
    <require from="resources/styles/views/stamps/purchase-form.css"></require>
    <ai-dialog class="purchase-form">
        <ai-dialog-body>
            <div class="well">${'editor.purchase-help'|t}</div>
            <form class="form-horizontal" validate.bind="validation">
                <div class="form-group form-group-sm1">
                    <span>
                        <label class="col-sm-4 control-label">${'editor.purchase-stamp-count'|t}</label>
                        <div class="col-md-8 control-label label-value">${model.selectedStamps.length}</div>
                    </span>
                </div>
                <div class="form-group form-group-sm has-feedback">
                    <label for="price-paid" class="col-sm-4 control-label">${'editor.purchase-total'|t}</label>
                    <div class="col-md-8 price-paid">
                            <input type="text" tabindex="110" class="form-control" id="price-paid"
                                   validate="price" value.bind="model.price" keyup.delegate="priceChanged()" aria-describedby="inputValueStatus">
                            <select id="currency-code" tabindex="115" class="currency-selector form-control purchase-currency"
                                    value.bind="model.currency" validate="currency">
                                <option repeat.for="cur of codes" model.bind="cur.keyName">${cur.description|t}</option>
                            </select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2">
                        <div class="checkbox">
					        <span>
						        <input type="checkbox" id="update-existing" checked.bind="model.updateExisting">${'editor.modify-existing'|t}
					        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group-sm1">
                    <span class="${(percentage <= 0) ? 'percentage-not-valid' : ''}">
                        <label class="col-sm-4 control-label">${'editor.purchase-percentage'|t}</label>
                        <div class="col-md-8 control-label label-value">
                            <span>${percentage | asPercentage}</span>
                        </div>
                    </span>
                </div>
            </form>
        </ai-dialog-body>
        <ai-dialog-footer>
            <div class="process-progress" if.bind="processing">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow.bind="25" aria-valuemin="0" aria-valuemax="100">
                        ${processingCount / model.selectedStamps.length | asPercentage}
                    </div>
                </div>
            </div>
            <div class="messaging" show.bind="!validation.result.isValid">
                <i class="sw-icon-attention"></i> ${'editor.purchase-error'|t}
            </div>
            <div class="button-actions">
                <button class="btn btn-primary" disabled.bind="!validation.result.isValid" click.trigger="save()">Ok</button>
                <button class="btn" click.trigger="controller.cancel()">Cancel</button>
            </div>

        </ai-dialog-footer>
    </ai-dialog>
</template>
