<template>
	<sort-dialog sort.bind="options.sort" sort-options.bind="sortColumns" dialog-id="exampleModal" ></sort-dialog>
	<require from="../../components/stamp-grid"></require>
	<require from="../../components/sort-dialog"></require>
	<require from="../../components/stamps/stamp-editor"></require>
	<require from="../../components/stamps/stamp-table"></require>
    <require from="../../widgets/paging/paging-toolbar"></require>
    <require from="../../widgets/select-picker/select-picker"></require>

	<nav class="navbar navbar-default stamp-grid-nav">
		<form class="navbar-form" role="search">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-sm btn-default ${(editorShown)? 'active' : ''}" title="New Stamp" click.trigger="toggleEditor('create-stamp')">
						<span class="${(editorShown)? 'sw-icon-minus' :'sw-icon-plus'}"></span>
					</button>
				</div>

                <div class="btn-group input-group quick-search">
                    <input type="text" class="form-control" value.two-way="searchText" placeholder="Search">
                    <button class="btn btn-sm btn-default" title="Search" click.delegate="sendSearch()">
                        <span class="sw-icon-search"></span>
                    </button>
                    <button class="btn btn-sm btn-default" title="Clear search" click.delegate="clearSearch()">
                        <span class="sw-icon-cancel"></span>
                    </button>
                </div>

                <div class="btn-group" role="group">
					<button class="btn btn-sm btn-default ${ gridMode ? 'active' : ''}" title="Show as grid" click.delegate="setViewMode('Grid')">
						<span class="sw-icon-gridview"></span>
					</button>
					<button class="btn btn-sm btn-default ${ listMode ? 'active' : ''}" title="Show as list" click.delegate="setViewMode('List')">
						<span class="sw-icon-list"></span>
					</button>
				</div>

                <div class="btn-group" role="group">
                    <button class="btn btn-sm btn-default ${ referenceMode ? 'active' : ''}" disabled.bind="listMode" title="Show reference catalogue numbers" click.delegate="toggleCatalogueNumbers()">
                        <span class="sw-icon-references"></span>
                    </button>
                </div>

				<div class="btn-group">

					<button class="btn btn-sm btn-default" click.trigger="toggleSortDirection()">
						<span class="${options.sortDirection === 'asc' ? 'sw-icon-sort-up' : 'sw-icon-sort-down'}"></span>
					</button>
					<button class="btn btn-sm btn-default ${options.sort ? '' : 'disabled'}" title="Clear sort" click.trigger="clearSort()">
						<span class="sw-icon-cancel"></span>
					</button>
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle sort-selector" data-toggle="dropdown">
                            <span class="selector-text">${options.sort.text | defaultValue:'Sort by'}</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li repeat.for="sortCol of sortColumns" click.trigger="$parent.setSort(sortCol)">${sortCol.text}</li>
                        </ul>
                    </div>
				</div>

				<div class="btn-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="selector-text">${stampFilter.description|t | defaultValue:'filters.filter'|t}</span>
                             <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li repeat.for="filter of filters" click.trigger="$parent.setFilter($index)">${filter.description|t}</li>
                        </ul>
                    </div>

				</div>

				<div class="btn-group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle result-size-selector" data-toggle="dropdown">
                            <span class="selector-text">${options.$top | defaultValue:'Size'}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li repeat.for="size of pageSizes" click.delegate="$parent.setSize(size)">${size}</li>
                        </ul>
                    </div>
				</div>
			</div>
		</form>

	</nav>
	<div class="container-fluid stamp-content" >
		<div class="row">
			<div class="col-md-12 col-lg-4 sw-editor-container" if.bind="editorShown">
				<stamp-editor model.bind="editingStamp"></stamp-editor>
			</div>
			<stamp-grid if.bind="gridMode" class="col-md-12 ${(editorShown) ? 'col-lg-8' : 'col-lg-12'}" stamps.bind="stamps"
                        edit-id.bind="editingStamp.id" show-catalogue-numbers.bind="referenceMode">
            </stamp-grid>
			<stamp-table if.bind="!gridMode" class="col-md-12 ${(editorShown) ? 'col-lg-8' : 'col-lg-12'}" stamps.bind="stamps" total.bind="pageInfo.total"></stamp-table>
		</div>
	</div>
	<div class="sw-fullsize-image" if.bind="imageShown" click.delegate="closeFullSizeImage()">
		<img src.bind="fullSizeImage" error.delegate="closeFullSizeImage()">
	</div>
	<nav class="navbar navbar-default stamp-list-footer">
		<form class="navbar-form" role="footer">
            <paging-toolbar page.bind="pageInfo.active" total.bind="pageInfo.total"></paging-toolbar>
			<div class="btn-toolbar" role="toolbar">
				<div class="results-group">
					Total: <span class="badge">${pageInfo.active * options.$top + 1} - ${pageInfo.active * options.$top + stamps.length}</span> of <span class="badge">${stampCount}</span>
				</div>
			</div>
		</form>
	</nav>


</template>
