@import "@@pathToTheme/@@theme/variables.less";

@grid-nav-height: 50px;

.stamp-content {
	height: calc(~"100% - 110px");
	position: relative;
	top: @grid-nav-height;
	.row {
		height: calc(~"100% - 60px");// @grid-nav-height;
		//overflow-y: auto; // remove if we want independent scrollers
	}
}

.stamp-grid-nav {
	top: @grid-nav-height;
	height: @grid-nav-height;
	margin-bottom: 10px;
	border-radius: 0;
	font-size: 0.9em;
	.form-control {
		height: 30px;
		font-size: 0.9em;
	}
	.btn-toolbar {
		position: absolute;
		top: 50%;
		transform: translate(0,-50%);
	}
	.btn {
		&.disabled {
			opacity: 0.35;
		}
	}
}

.stamp-list-footer {
	bottom: 0px;
	position: relative;
	width: 100%;
	border-radius: 0;
	border-top: ridge 1px #efefef;
	margin: 5px 0 0 0;
	font-size: 0.9em;
	.form-control {
		height: 30px;
	}
	.pagination {
		display: block;
		margin: 0;
	}
}

.sort-selector {
	width: 150px;
	text-align: left;
	.caret {
		float: right;
		top: 7px;
		position: relative;
	}
}

.result-size-selector {
	width: 65px;
	text-align: left;
	.caret {
		float: right;
		top: 7px;
		position: relative;
	}
}

.dropdown-toggle {
	margin-right: 2px;
}

.results-group {
	float: right;
	line-height: 30px;
	position: relative;
}


.sw-fullsize-image {

	background-color: @gray-dark;
	position: fixed;
	z-index: 9000;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	img {
		max-width: 100%;
		max-height: 100%;
        height: 100%;
	}
}

.sw-editor-container {
	overflow-y: auto;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-webkit-align-content: stretch;
	align-content: stretch;
	position: relative;
}

.sw-dialog-wrapper {
	.modal-body {
		.bootbox-body {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
