@import "../../theme/_semantic.scss";

$grid-nav-height: 5rem;

.stamp-content {
    height:     calc(100% - #{14rem});
    position:   relative;
    padding:    0;
    border-top: $theme-border;
    > .row {
        height: 100%;
        margin: 0;

        .full-height {
            padding: 0;
        }
    }
}


.input-group.quick-search {
    display: flex !important;

    input.form-control {
        width: auto;
    }
}

collapse-panel {
    .panel {
        border-top-left-radius:    0;
        border-bottom-left-radius: 0;
    }
}

.stamp-grid-nav {
    z-index:       1000;
    height:        $grid-nav-height;
    margin-bottom: 0;
    border-radius: 0;
    font-size:     $theme-font-size-sm;

    .form-control {
        height:    $theme-input-height;
        font-size: $theme-font-size-sm;
    }

    .btn-toolbar {
        width:     100%;
        position:  absolute;
        top:       50%;
        transform: translate(0, -50%);
    }

    .btn {
        font-size: $theme-font-size-sm;
        height: $theme-input-height;
    }

    .btn-group {
        margin-right: $theme-margin-thin;
    }

    .sort-actions {
        margin-right: $theme-margin-thin;
        .dropdown {
            float: left;
        }
        .sort-selector {
            width:         100%;
            text-align:    left;
            float:         left;
            border-radius: $theme-border-radius 0 0 $theme-border-radius;
            .caret {
                float:    right;
                top:      0.7rem;
                position: relative;
            }
        }
    }

    .dropdown-item {
        font-size: $theme-font-size-sm;
    }
}

.stamp-list-footer {
    border-top: $theme-border;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: $theme-font-size-sm;
    padding: $theme-padding-thinner $theme-padding-base;
    margin: 0;
    width: 100%;

    .form-control {
        height: $theme-input-height;
    }

    > * {
        flex: 0 1 auto;
    }

    paging-toolbar {
        flex-grow: 1;
    }

    .report-statistics {
        margin-right: $theme-margin-thick;
        display:      inline-flex;

        .btn-group {
            align-items: center;
        }
        .statistics-button {
            padding:    $theme-padding-thinner $theme-padding-thin;
            font-size:  $theme-font-size-sm;

        }
        .value-display {
            border:           $theme-border;
            border-radius:    0 $theme-border-radius $theme-border-radius 0;
            width:            10rem;
            height:           2.5rem;
            position:         relative;
            background-color: $theme-panel-bg;
            padding:          0 0.5rem;
            font-size:        $theme-font-size-sm;
        }
    }

    .stat-info {
        display: flex;
        height: $theme-input-height;
        justify-self: right;

        * {
            flex: 1 1 auto;
        }

        > div {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;

            * {
                align-items: center;
                display: inline-flex;
                height: $theme-input-height;
            }

            &:first-child {
                margin-right: $theme-margin-base;
            }
        }
    }

    .btn-toolbar {
        float: right;

        .selection-group {
            margin-left: $theme-margin-base;
        }
    }
}



.result-size-selector {
    width:      6.5rem;
    text-align: left;
    .caret {
        float:    right;
        top:      0.7rem;
        position: relative;
    }
}

.sw-editor-container {
    height:                 100%;
    width: 57rem;
    display:                flex;
    flex-direction:         row;
    -webkit-flex-direction: row;
    -webkit-align-content:  stretch;
    align-content:          stretch;
    position:               relative;
    padding:                0;

    &.full-content {
        display: none;
    }

    collapse-panel {
        .card {
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
    }
}

.stamp-list-content {
    width: 100%;


    &.editor-shown {
        width: calc(100% - 57rem);
    }

}

.sw-dialog-wrapper {
    .modal-body {
        .bootbox-body {
            @include nowrap-text;
        }
    }
}
