<template>
    <require from="../../value-converters/empty-text"></require>
    <require from="../../widgets/date-picker/date-picker"></require>
    <require from="../../value-converters/date-formatter"></require>
    <div class="panel panel-default sw-ownership-editor">
        <div class="panel-heading">
            <h4 class="panel-title">Owning Details</h4>
        </div>

        <div class="panel-body">
            <div class="form-group form-group-sm has-feedback">
                <label for="owner-albumRef" class="col-sm-3 control-label">Album</label>
                <div class="col-sm-9">
                    <select id="owner-albumRef" disabled.bind="loading" class="album-selector form-control" value.bind="model.albumRef">
                        <option model.bind="-1">Select an album</option>
                        <option repeat.for="album of albums" model.bind="album.id">${album.name}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-condition" class="col-sm-3 control-label">Condition</label>
                <div class="col-sm-4">
                    <select id="owner-condition" class="condition-selector form-control" value.bind="model.condition">
                        <option repeat.for="c of conditions" model.bind="c.ordinal">${c.description}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-grade" class="col-sm-3 control-label">Grade</label>
                <div class="col-sm-4">
                    <select id="owner-grade" class="grade-selector form-control" value.bind="model.grade">
                        <option repeat.for="g of grades" model.bind="g.ordinal">${g.description}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-sellerRef" class="col-sm-3 control-label">Seller</label>
                <div class="col-sm-9">
                    <select id="owner-sellerRef" disabled.bind="loading" class="seller-selector form-control" value.bind="model.sellerRef">
                        <option model.bind="-1">Select a seller</option>
                        <option repeat.for="seller of sellers" model.bind="seller.id">${seller.name}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-pricePaid" class="col-sm-3 control-label">Price paid</label>
                <div class="input-group col-sm-9">
                    <input type="text" class="form-control price-paid" id="owner-pricePaid" value.bind="model.pricePaid">
                    <select id="owner-code" class="currency-selector form-control" value.bind="model.code">
                        <option repeat.for="cur of codes" model.bind="cur.ordinal">${cur.description}</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-purchased" class="col-sm-3 control-label">Purchased</label>
                <div class="input-group col-sm-3">
                    <date-picker id="owner-purchased" value.two-way="model.purchased | dateFormatter"></date-picker>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-img" class="col-sm-3 control-label">Image Path</label>
                <div class="col-sm-9">
                    <input type="text" required aria-required="true" class="form-control" value.bind="model.img | emptyText" id="owner-img">
                </div>
            </div>
            <div class="checkbox">
                <span class="col-sm-3"></span>
                <label class="col-sm-9">
                    <input type="checkbox" checked.bind="model.cert">
                    <span>Certified or validated</span>
                </label>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-certImg" class="col-sm-3 control-label" disabled.bind="!model.cert">Certificate</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled.bind="!model.cert" value.bind="model.certImg | emptyText" id="owner-certImg">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="owner-notes" class="col-sm-3 control-label">Notes</label>
                <div class="col-sm-9">
                    <textarea class="form-control" value.bind="model.notes | emptyText" id="owner-notes" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>
