@import "@@pathToTheme/@@theme/variables.less";

.input-group.date {
    padding-left: 15px !important;
    .input-group-addon {
        padding: 0 4px;
    }
}

.form-control {
    &.price-paid {
        width: 75px;
        margin-right: 5px;
    }
}


