<template>
    <require from="../../value-converters/empty-text"></require>
    <require from="../../widgets/select-picker/select-picker"></require>
    <div class="user-settings container">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">${'settings.editor'|t}</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="settings-countryRef" class="col-sm-3 control-label">${'settings.country'|t}</label>
                        <div class="col-sm-9">
                            <select-picker items.bind="countries" class="country-selector" disabled.bind="loading"  value.two-way="model.stamps.countryRef"
                                  config.bind="{ id: 'settings-countryRef',labelProperty: 'name', valueProperty: 'id', filterSearch: true, caption: 'settings.country-select' }"></select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-albumRef" class="col-sm-3 control-label">${'settings.album'|t}</label>
                        <div class="col-sm-9">
                            <select-picker items.bind="albums" class="album-selector" disabled.bind="loading"  value.two-way="model.stamps.albumRef"
                                           config.bind="{ id: 'settings-albumRef',labelProperty: 'name', valueProperty: 'id', filterSearch: true, caption: 'settings.album-select' }"></select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-stampCollectionRef" class="col-sm-3 control-label">${'settings.stampCollection'|t}</label>
                        <div class="col-sm-9">
                            <select-picker items.bind="stampCollections" class="stampCollection-selector" disabled.bind="loading"  value.two-way="model.stamps.stampCollectionRef"
                                           config.bind="{ id: 'settings-stampCollectionRef',labelProperty: 'name', valueProperty: 'id', filterSearch: true, caption: 'settings.stampCollection-select' }"></select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-sellerRef" class="col-sm-3 control-label">${'settings.seller'|t}</label>
                        <div class="col-sm-9">
                            <select-picker items.bind="sellers" class="seller-selector" disabled.bind="loading"  value.two-way="model.stamps.sellerRef"
                                           config.bind="{ id: 'settings-sellerRef',labelProperty: 'name', valueProperty: 'id', filterSearch: true, caption: 'settings.seller-select' }"></select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-catalogueRef" class="col-sm-3 control-label">${'settings.catalogue'|t}</label>
                        <div class="col-sm-9">
                            <select-picker items.bind="catalogues" class="catalogue-selector" disabled.bind="loading"  value.two-way="model.stamps.catalogueRef"
                                           config.bind="{ id: 'settings-catalogueRef',labelProperty: 'displayName', valueProperty: 'id', filterSearch: true, caption: 'settings.catalogue-select' }">
                            </select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-condition" class="col-sm-3 control-label">${'settings.condition'|t}</label>
                        <div class="col-sm-4">
                            <select-picker class="condition-selector" items.bind="conditions" value.two-way="model.stamps.condition"
                                           config.bind="{ id: 'settings-condition', labelProperty: 'description', valueProperty: 'ordinal', filterSearch: false, caption: 'settings.condition-select' }">
                            </select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-grade" class="col-sm-3 control-label">${'settings.grade'|t}</label>
                        <div class="col-sm-4">
                            <select-picker class="grade-selector" items.bind="grades" value.two-way="model.stamps.grade"
                                           config.bind="{ id: 'settings-grade', labelProperty: 'description', valueProperty: 'ordinal', filterSearch: false, caption: 'settings.grade-select' }">
                            </select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-currencyCode" class="col-sm-3 control-label">${'settings.currencyCode'|t}</label>
                        <div class="col-sm-2">
                            <select-picker class="currency-selector" items.bind="codes" value.two-way="model.currency.CurrencyCode"
                                           config.bind="{ id: 'settings-currencyCode', valueType: 'String', labelProperty: 'description', valueProperty: 'keyName', filterSearch: false, caption: 'settings.currencyCode-select' }">
                            </select-picker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">${'settings.reference'|t}</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="settings-catalogueRefSecondary" class="col-sm-3 control-label">${'settings.catalogue-secondary'|t}</label>
                        <div class="col-sm-9">
                            <select-picker items.bind="catalogues" class="catalogue-selector" disabled.bind="loading"  value.two-way="model.stamps.catalogueRefSecondary"
                                           config.bind="{ id: 'settings-catalogueRefSecondary',labelProperty: 'displayName', valueProperty: 'id', filterSearch: true, caption: 'settings.catalogue-select' }">
                            </select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-conditionSecondary" class="col-sm-3 control-label">${'settings.condition-secondary'|t}</label>
                        <div class="col-sm-4">
                            <select-picker class="condition-selector" items.bind="conditions" value.two-way="model.stamps.conditionSecondary"
                                           config.bind="{ id: 'settings-conditionSecondary', labelProperty: 'description', valueProperty: 'ordinal', filterSearch: false, caption: 'settings.condition-select' }">
                            </select-picker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">${'settings.server'|t}</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="settings-imagePath" class="col-sm-3 control-label">${'settings.imagePath'|t}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value.bind="model.stamps.imagePath" id="settings-imagePath">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">${'settings.user'|t}</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group form-group-sm">
                        <label for="settings-locale" class="col-sm-3 control-label">${'settings.preferredLocale'|t}</label>
                        <div class="col-sm-2">
                            <select-picker class="locale-selector" items.bind="locales" value.two-way="model.user.locale"
                                           config.bind="{ id: 'settings-locale', valueType: 'String', labelProperty: 'description', valueProperty: 'keyName', filterSearch: false, caption: 'settings.locale-select' }">
                            </select-picker>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-pageSize" class="col-sm-3 control-label">${'settings.pageSize'|t}</label>
                        <div class="col-sm-2">
                            <select id="settings-pageSize" class="pageSize-selector form-control" value.bind="model.stamps.pageSize">
                                <option repeat.for="size of pageSizes" model.bind="size">${size}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="settings-applyCatalogueImagePrefix" class="col-sm-3 control-label">${'settings.applyCatalogueImagePrefix'|t}</label>
                        <span class="col-sm-9">
                            <input type="checkbox" checked.bind="model.stamps.applyCatalogueImagePrefix" id="settings-applyCatalogueImagePrefix">
                            <span>${'settings.applyCatalogueImagePrefix-hint'|t}</span>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div class="editor-buttons">
            <button type="button" disabled.bind="!valid" class="btn btn-sm btn-primary" click.trigger="save()">${'actions.save'|t}</button>
            <button type="button" disabled.bind="!valid" class="btn btn-sm btn-default" click.trigger="reset()">${'actions.reset'|t}</button>
        </div>
    </div>
</template>
