@import "@@pathToTheme/@@theme/variables.less";

.entity-type {
	padding: @panel-body-padding;
	.list-group-item {
		&:hover {
			background-color: lighten(@list-group-active-bg, 25%);
			color: @list-group-active-text-color;
			cursor: pointer;
		}
		&.selected {
			background-color: @list-group-active-bg;
			color: @list-group-active-text-color;
			cursor: default;
		}
		div {
			display: inline-block;
			&:last-child {
				float: right;
			}
			&:first-child {
				width: calc(~"100% - 35px");
			}
		}

	}
	.sw-create-action {
		float: right;
		opacity: 0.2;
		&:hover {
			opacity: 1.0;
		}
	}
}

.manage-list-toolbar {
    height: 40px;
    .col-sm-2, .col-sm-4 {
        padding-right: 0;
    }
    .input-group {
        &> input {
            width: auto;
        }
        &>button {
            width: 32px;
            padding-left: 6px;
            height: 26px;
            font-size: @font-size-small;
        }
    }
    label {
        text-align: right;
        float: right;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        top: 5px;
    }
}

.manage-list {
	height: calc(~"100% - 56px");
	padding-top: @panel-body-padding;
	position: relative;
	top: 56px;
	overflow-y: hidden;
	>.row {
		height: 100%;
        >div {
            height: 100%;
        }
	}
    .manage-list-contents {
        height: calc(~"100% - 40px");
        overflow: auto;
    }
	.actions {
		width: 120px;
	}

	.sw-entitylist-count, .sw-entitylist-actions {
		min-width: 120px;
		width: 120px;
	}
	.sw-entitylist-name {
		max-width: 33%;
	}

	.entity-list {
		td, th {
			cursor: default;
            font-size: @font-size-base * 0.85;
		}
	}

}


