@import "../../../theme/_semantic.scss";

$grid-nav-height: 5rem;

stamp-list {
}

.stamp-content {
    height:        calc(100% - #{11rem});
    position:      relative;
    padding-right: 0;
    border-top:    $theme-border;
    top:           $grid-nav-height;
    .row {
        height: calc(100% - #{$grid-nav-height + 0.5rem});

        .full-height {
            padding-left: 0;
        }
    }
}

.input-group.quick-search {
    input.form-control {
        width: auto;
    }
}

collapse-panel {
    .panel {
        border-top-left-radius:    0;
        border-bottom-left-radius: 0;
    }
}

.stamp-grid-nav {
    top:           $grid-nav-height;
    height:        $grid-nav-height;
    margin-bottom: 0;
    border-radius: 0;
    font-size:     $theme-font-size-sm;
    .form-control {
        height:    $theme-input-height;
        font-size: $theme-font-size-sm;
    }
    .btn-toolbar {
        width:     100%;
        position:  absolute;
        top:       50%;
        transform: translate(0, -50%);
    }
    .btn {
        height: $theme-input-height;

        &.disabled {
            opacity: 0.35;
        }
    }
    .btn-group {
        margin-right: $theme-margin-thin;
    }
}

.stamp-list-footer {
    bottom:        0px;
    position:      relative;
    width:         100%;
    border-radius: 0;
    border-top:    $theme-border;
    margin:        $theme-margin-thin 0 0 0;
    font-size:     $theme-font-size-sm;
    .form-control {
        height: $theme-input-height;
    }
    .pagination {
        display: block;
        margin:  0;
    }
    .report-statistics {
        float:        right;
        margin-right: $theme-margin-thick;
        display:      inline-block;
        .statistics-button {
            padding:          $theme-padding-thin / 2;
            color:            $theme-active-color;
            background-color: $theme-active-bg;
            border-color:     $theme-active-color;
            &.active {
                background-color: $theme-active-bg;
            }
            &:focus {
                outline: none;
            }

            &:hover {
                color:            $theme-active-color;
                background-color: $theme-active-bg;
                border-color:     $theme-active-color;
                &:disabled {
                    color: $theme-active-color;
                }
            }
        }
        .value-display {
            border:           $theme-border;
            border-radius:    0 $theme-border-radius $theme-border-radius 0;
            width:            10rem;
            height:           2.5rem;
            left:             -0.1rem;
            position:         relative;
            background-color: $theme-panel-bg;
            padding:          0 0.5rem;
            font-size:        $theme-font-size-sm;
        }
    }
    .btn-toolbar {
        .badge {
            position:    relative;
            top:         -0.2rem;
            font-weight: normal;
        }
        float: right;
    }
}

.sort-actions {
    margin-right: $theme-margin-thin;
    .dropdown {
        float: left;
    }
    .sort-selector {
        width:         15rem;
        text-align:    left;
        float:         left;
        border-radius: $theme-border-radius 0 0 $theme-border-radius;
        .caret {
            float:    right;
            top:      0.7rem;
            position: relative;
        }
    }
}

.result-size-selector {
    width:      6.5rem;
    text-align: left;
    .caret {
        float:    right;
        top:      0.7rem;
        position: relative;
    }
}

.results-group {
    float:       right;
    line-height: $theme-input-height;
    position:    relative;
}

.selection-group {
    margin-right: $theme-margin-base;
    line-height:  $theme-input-height;
    position:     relative;
    float:        right;
}

.sw-editor-container {
    height:                 100%;
    display:                flex;
    flex-direction:         row;
    -webkit-flex-direction: row;
    -webkit-align-content:  stretch;
    align-content:          stretch;
    position:               relative;
    padding:                0;
}

.sw-dialog-wrapper {
    .modal-body {
        .bootbox-body {
            @include nowrap-text;
        }
    }
}
