<template>
	<require from="../../elements/stamps/stamp-grid"></require>
	<require from="../../elements/stamps/stamp-editor"></require>
    <require from="../../elements/search/search-form"></require>
	<require from="../../elements/stamps/stamp-table"></require>
    <require from="../../elements/stamps/stamp-replacement-table"></require>
    <require from="../../elements/paging/paging-toolbar"></require>
    <require from="../../elements/collapse-panel/collapse-panel"></require>
    <require from="../../elements/select-picker/select-picker"></require>
    <require from="../../elements/image-preview/image-preview"></require>
    <require from="../../attributes/find-target"></require>

    <require from="resources/views/stamps/stamp-list.css"></require>

	<nav class="navbar navbar-default stamp-grid-nav">
		<form class="navbar-form" role="search">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-secondary hidden-sm-down" title="${'nav.new-stamp'|t}" click.trigger="showEditor('create-stamp')">
						<span class="sw-icon-plus"></span>
					</button>
                    <button class="btn btn-secondary" title="${'nav.search'|t}" click.trigger="showEditor('search-panel')">
                        <span class="sw-icon-search"></span>
                    </button>
                    <button class="btn btn-secondary hidden-sm-down ${selectedCount > 0 ? '' : 'disabled'}" title="${'actions.purchase'|t}" click.delegate="purchase()">
                        <span class="sw-icon-purchased"></span>
                    </button>
				</div>

                <div class="btn-group hidden-sm-down" role="group">
                    <button type="button" class="btn btn-secondary" title="${'nav.select-all'|t}" click.trigger="selectAll(true)">
                        <span class="sw-icon-select-all"></span>
                    </button>
                    <button type="button" class="btn btn-secondary" title="${'nav.clear-all'|t}" click.trigger="selectAll(false)">
                        <span class="sw-icon-clear-all"></span>
                    </button>
                </div>

                <div class="btn-group input-group quick-search hidden-md-down" role="group">
                    <input type="text" find-target class="form-control" value.two-way="searchText" placeholder="Search">
                    <button class="btn btn-secondary" title="Search" click.delegate="sendSearch()">
                        <span class="sw-icon-filter"></span>
                    </button>
                    <button class="btn btn-secondary" title="Clear search" click.delegate="clearSearch()">
                        <span class="sw-icon-cancel"></span>
                    </button>
                </div>

                <div class="btn-group" role="group">
					<button class="btn btn-secondary ${  displayMode === 'Grid' ? 'active' : ''}" title="${'actions.show-as-grid'|t}" click.trigger="setDisplayMode('Grid')">
						<span class="sw-icon-gridview"></span>
					</button>
					<button class="btn btn-secondary ${ displayMode === 'List' ? 'active' : ''}" title="${'actions.show-as-table'|t}" click.trigger="setDisplayMode('List')">
						<span class="sw-icon-list"></span>
					</button>
                    <button class="btn btn-secondary hidden-sm-down ${ displayMode === 'Upgrade' ? 'active' : ''}" title="${'actions.show-as-upgrade'|t}" click.trigger="setDisplayMode('Upgrade')">
                        <span class="sw-icon-exchange"></span>
                    </button>
                    <button class="btn btn-secondary hidden-sm-down ${ referenceTableState }" disabled.bind="referenceTableState === 'disabled'" title="${'actions.show-reference-cataloguenumbers'|t}" click.delegate="toggleCatalogueNumbers()">
                        <span class="sw-icon-references"></span>
                    </button>
				</div>

				<div class="btn-group sort-actions hidden-sm-down" role="group">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle sort-selector" data-toggle="dropdown">
                            <span class="selector-text">${'sort.' + options.sort|t | defaultValue:'sort.placeholder'|t}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item" repeat.for="sortCol of sortColumns" click.trigger="$parent.setSort(sortCol)">${'sort.' + sortCol|t}</li>
                        </ul>
                    </div>
                    <button class="btn btn-secondary ${options.sort === 'placeholder' ? 'disabled' : ''}" title="Clear sort" click.trigger="clearSort()">
                        <span class="sw-icon-cancel"></span>
                    </button>
					<button class="btn btn-secondary ${options.sort === 'placeholder' ? 'disabled' : ''}" click.trigger="toggleSortDirection()">
						<span class="${options.sortDirection === 'asc' ? 'sw-icon-sort-up' : 'sw-icon-sort-down'}"></span>
					</button>
				</div>

                <div class="dropdown hidden-md-down btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="selector-text">${getFilterText(stampFilter)|t | defaultValue:'filters.filter'|t}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item" repeat.for="filter of filters" click.trigger="$parent.setFilter($index)">${$parent.getFilterText(filter)|t}</li>
                    </ul>
                </div>
                <div class="dropdown hidden-md-down btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="selector-text">${getFilterText(conditionFilter)|t | defaultValue:'conditionFilters.ALL_STAMPS'|t}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item" repeat.for="filter of conditionFilters" click.trigger="$parent.setConditionFilter($index)">${$parent.getFilterText(filter)|t}</li>
                    </ul>
                </div>
                <div class="dropdown hidden-md-down">
                    <button type="button" class="btn btn-secondary dropdown-toggle result-size-selector" data-toggle="dropdown">
                        <span class="selector-text">${options.$top | defaultValue:'actions.page-size'|t}</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item" repeat.for="size of pageSizes" click.delegate="$parent.setSize(size)">${size}</li>
                    </ul>
                </div>

			</div>
		</form>

	</nav>
	<div class="container-fluid stamp-content" >
		<div class="row">
			<div class="col-md-12 col-lg-4 sw-editor-container" if.bind="editorShown">
                <collapse-panel collapsed.bind="!editorShown" name="stamp-list-editor-panel" >
                    <stamp-editor show.bind="panelContents === 'stamp-editor'" model.bind="editingStamp"></stamp-editor>
                    <search-form show.bind="panelContents === 'search-panel'"></search-form>
                </collapse-panel>
			</div>
            <div class="col-md-12 ${(editorShown) ? 'col-lg-8' : 'col-lg-12'} full-height">
                <stamp-grid if.bind="displayMode === 'Grid'" class="" stamps.bind="stamps"
                            last-selected.bind="lastSelected" edit-id.bind="editingStamp.id" show-catalogue-numbers.bind="referenceMode">
                </stamp-grid>
                <stamp-table if.bind="displayMode === 'List'" class="" stamps.bind="stamps" last-selected.bind="lastSelected" total.bind="pageInfo.total"></stamp-table>
                <stamp-replacement-table if.bind="displayMode === 'Upgrade'" stamps.bind="stamps"></stamp-replacement-table>
            </div>

		</div>
	</div>
	<image-preview image.bind="fullSizeImage" shown.bind="imageShown" bounds-selector=".stamp-content"></image-preview>
	<nav class="navbar navbar-default stamp-list-footer">
		<form class="navbar-form" role="footer">
            <paging-toolbar page.bind="pageInfo.active" total.bind="pageInfo.total"></paging-toolbar>
            <div class="btn-toolbar" role="toolbar">
                <div class="results-group">
                    ${'footer.total'|t}: <span class="">${pageInfo.active * options.$top + 1} - ${pageInfo.active * options.$top + stamps.length}</span> of <span class="badge">${stampCount}</span>
                </div>
                <div class="selection-group">
                    ${'footer.totalSelected'|t}: <span class="">${selectedCount}</span>
                </div>
            </div>
            <div class="report-statistics hidden-xs" role="group">
                <div class="btn-group">
                    <button class="btn btn-xs btn-default statistics-button ${(reportType==='CatalogueValue') ? 'active' : ''}" title="${'footer-statistics.catalogue-value'|t}" click.trigger="setStatistics('CatalogueValue')" role="button">
                        <span class="sw-icon-catalogue"></span>
                    </button>
                    <button class="btn btn-xs btn-default statistics-button ${(reportType==='CostBasis') ? 'active' : ''}" title="${'footer-statistics.purchased'|t}" click.trigger="setStatistics('CostBasis')" role="button">
                        <span class="sw-icon-purchased"></span>
                    </button>
                    <button class="btn btn-xs btn-default statistics-button ${(reportType==='CashValue') ? 'active' : ''}" title="${'footer-statistics.cash-value'|t}" click.trigger="setStatistics('CashValue')" role="button">
                        <span class="sw-icon-cash-value"></span>
                    </button>
                    <input class="value-display" value.bind="reportValue" readonly role="status">
                </div>

            </div>

		</form>
	</nav>


</template>
