<template>
    <require from="../../value-converters/as-enum"></require>
    <require from="../../value-converters/as-currency-formatted"></require>
    <table>
        <thead>
            <tr>
                <td>${'table.description'|t}</td>
                <td>${'table.condition'|t}</td>
                <td>${'table.catalogue-value'|t}</td>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="stamp of stamps">
                <td class="col-md-4">${ stamp.rate + ' ' + stamp.description }</td>
                <td class="col-md-1">${ stamp.activeCatalogueNumber.condition|asEnum:'Condition'|t }</td>
                <td class="col-md-1">${ stamp.activeCatalogueNumber.value|asCurrencyFormatted:number.currencyCode }</td>
            </tr>
        </tbody>
    </table>

</template>
