@import "@@pathToTheme/@@theme/variables.less";


stamp-table {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: auto;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    .grid-footer-container {
        opacity: 0.01;
    }
    table {
        table-layout: fixed;
        tbody {
            tr {
                &.selected {
                    background-color: @table-selected-bg;
                    &:hover {
                        background-color: darken(@table-selected-bg, 5%);
                    }
                    &.highlight {
                        background-color: lighten(@highlight-color, 10%);
                    }
                }


            }
        }
        * {
            cursor: default;
        }
    };


}
