@import "@@pathToTheme/@@theme/variables.less";

stamp-table {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-y: auto;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    .grid-footer-container {
        opacity: 0.01;
    }
    tbody {
        tr.selected {
            background-color: #0a6ebd;
            &:hover {
                background-color: lighten(#0a6ebd, 10%);
            }
        }
    }

}
