@import "../../../theme/_semantic.scss";

catalogue-number-details {

    .row {
        flex-wrap: nowrap;
    }

    .conflict-indicator {
        align-items: center;
        display: flex;
        max-width: 2.5rem;
        width: auto;

        .sw-conversion {
            font-size: $theme-font-size-xs;

            &.sw-convert {
                color: $theme-action-color;
                cursor: pointer;
            }

            &.sw-warning {
                color: $theme-warning-color;
            }
        }

    }

    .sw-currency-label {
        margin-left: $theme-margin-base;

        &.control-label {
            text-align: left;
        }
    }

    .cn-field {
        width: 12.5rem;
    }

    .value-field {
        width: 13.3rem;
        input {
            max-width: 7rem;
            display: inline-block;
        }
    }

    .catalogueRef {
        &.has-error {
            .help-block {
                left: 25%;
                position: relative;
            }
        }

        &.row {
            flex-wrap: wrap;
        }

    }

    .help-block {
        margin-bottom: 0;
        width: auto;
    }

}

