@import "../../../generated/theme-variables.less";

.actions {
		width: 110px;
	}

.sw-entitylist-count, .sw-entitylist-actions {
	min-width: 120px;
	width: 120px;
}
.sw-entitylist-name {
	max-width: 33%;
}
