<template>
	<require from="../../value-converters/empty-text"></require>
	<form validation-renderer="bootstrap-form">
		<div class="form-group row">
			<label for="editor-name" class="col-sm-3">${'editor.name'|t}</label>
			<div class="col-sm-9">
				<input id="editor-name" autocomplete="off" tabindex="100" class="form-control" type="text" value.bind="model.name | emptyText & validate:rules">
			</div>
		</div>
		<div class="form-group row">
			<label for="editor-desc" class="col-sm-3">${'editor.description'|t}</label>
			<div class="col-sm-9">
				<textarea id="editor-desc" tabindex="150" value.bind="model.description | emptyText" class="form-control" rows="4"></textarea>
			</div>
		</div>
	</form>
</template>
