//@formatter:off
{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"globals": {
        "jQuery": false,
        "$": true
    },
	"rules": {
		"strict": 0,
		"no-underscore-dangle": 0,
		"quotes": [0, "double", "avoid-escape"],
		"indent": [2, 4],
		"brace-style": [2, "1tbs"],
		// make this one a two when closer to production
		"no-alert": 0
	}
}
//@formatter:on
