@import "../../../theme/semantic";

$top-header-height: 5.6rem;

.user-settings {
    display:        flex;
    flex-direction: column;
    height:         100%;
    position:       relative;
    overflow:       auto;
    background:     $theme-panel-contrast-bg;

    .user-settings-nav {
        margin-top: $theme-margin-thinner;
        height:     3.7rem;
        position:   relative;
        background: $theme-panel-bg;
        .nav-tabs {
            width: 100%;
            .nav-link {
                .active {
                    position:      relative;
                    background:    $theme-panel-contrast-bg;
                    border-bottom: none;
                    padding-bottom: $theme-padding-base;
                }

                .focus, &:hover {
                    border-color: transparent;
                }
            }


        }
    }
    .user-settings-content {
        font-size:   $theme-font-size-sm;
        padding-top: $theme-padding-thick;

        position:    relative;
        width:       100%;

        .card {
            margin-left: 2rem;
            max-width: 50rem;

            .card-block {
                padding: $theme-padding-thick;
                width: 100%;

                select {
                    font-size: $theme-font-size-sm;
                }

                .catalogue-prefix {
                    top:       50%;
                    transform: translate(0, -50%);
                    position:  relative;
                }
            }

            .card-title {
                color:         $theme-form-title-color;
                margin-bottom: $theme-margin-thick;
            }
        }

        .locale-selector {
            width:    110px;
            display:      inline-block;
            margin-right: $theme-margin-base;
        }

        .pageSize-selector {
            height: $theme-input-height;
        }

        button.restart {
            height: $theme-input-height;
        }
    }

    .editor-buttons {
        margin-left: $theme-margin-thick;
        margin-top: $theme-margin-thick;

        .btn {
            font-size: $theme-font-size-base;
            height: $theme-input-height;
        }
    }

}
