
.sw-icon-wantlist:before { content: '\e800'; } /* '' */
.sw-icon-gridview:before { content: '\e801'; } /* '' */
.sw-icon-list:before { content: '\e802'; } /* '' */
.sw-icon-cancel:before { content: '\e803'; } /* '' */
.sw-icon-country:before { content: '\e804'; } /* '' */
.sw-icon-plus:before { content: '\e805'; } /* '' */
.sw-icon-settings:before { content: '\e806'; } /* '' */
.sw-icon-minus:before { content: '\e807'; } /* '' */
.sw-icon-copy:before { content: '\e808'; } /* '' */
.sw-icon-trash:before { content: '\e809'; } /* '' */
.sw-icon-stamp:before { content: '\e80a'; } /* '' */
.sw-icon-album:before { content: '\e80b'; } /* '' */
.sw-icon-to-start:before { content: '\e80c'; } /* '' */
.sw-icon-catalogue:before { content: '\e80d'; } /* '' */
.sw-icon-progress:before { content: '\e80e'; } /* '' */
.sw-icon-to-end:before { content: '\e80f'; } /* '' */
.sw-icon-delete:before { content: '\e810'; } /* '' */
.sw-icon-key:before { content: '\e811'; } /* '' */
.sw-icon-seller:before { content: '\e812'; } /* '' */
.sw-icon-forward:before { content: '\e813'; } /* '' */
.sw-icon-thumbs-up:before { content: '\e814'; } /* '' */
.sw-icon-thumbs-down:before { content: '\e815'; } /* '' */
.sw-icon-home:before { content: '\e816'; } /* '' */
.sw-icon-refresh:before { content: '\e817'; } /* '' */
.sw-icon-search:before { content: '\e818'; } /* '' */
.sw-icon-info:before { content: '\e819'; } /* '' */
.sw-icon-sort-down:before { content: '\e81a'; } /* '' */
.sw-icon-sort-up:before { content: '\e81b'; } /* '' */
.sw-icon-purchased:before { content: '\e81c'; } /* '' */
.sw-icon-edit:before { content: '\e81d'; } /* '' */
.sw-icon-next:before { content: '\e81e'; } /* '' */
.sw-icon-previous:before { content: '\e81f'; } /* '' */
.sw-icon-down:before { content: '\e820'; } /* '' */
.sw-icon-up:before { content: '\e821'; } /* '' */
.sw-icon-target:before { content: '\e822'; } /* '' */
.sw-icon-calendar:before { content: '\e823'; } /* '' */
.sw-icon-time:before { content: '\e824'; } /* '' */
.sw-icon-stamp-collection:before { content: '\e825'; } /* '' */
.sw-icon-exchange:before { content: '\e826'; } /* '' */
.sw-icon-attention:before { content: '\e827'; } /* '' */
.sw-icon-language:before { content: '\e828'; } /* '' */
.sw-icon-references:before { content: '\e829'; } /* '' */
.sw-icon-ok:before { content: '\e82a'; } /* '' */