@import "../../../theme/_semantic.scss";

$collapse-header-height: 3rem;

collapse-panel {
    width:      100%;
    height:     100%;

    .card {
        height: 100%;

        > .panel {
            border: $theme-border;
            height: 100%;
        }

        .card-title {
            height: $collapse-header-height;
            background-color: $theme-panel-header-bg;
            margin-bottom: 0;
            padding-bottom: $theme-padding-base + $theme-padding-thin;

            .panel-title {
                height:       2.0rem;
                color:        $theme-form-title-color;
                padding-left: $theme-padding-base;
                padding-top:  $theme-padding-base;
            }
        }
        .card-block {
            height: calc(100% - #{$collapse-header-height});
            padding-top: 0;
            overflow-y:  auto;
            overflow-x:  hidden;
        }
        .btn-close {
            background-image: none;
            position: absolute;
            top:      0.5rem;
            right:    0.5rem;
        }
    }
}
