@import 'semantic';
@import 'bootstrap-overrides';

html {
    font-size: 10px;
}


input[type="text"] {
    height: $theme-input-height;
    font-size: $theme-font-size-sm;
}

input[type="checkbox"] {
    line-height: $theme-input-height;
    position:    relative;
    top:         50%;
    transform:   translate(0, -50%);
}

select, textarea {
    font-size: $theme-font-size-sm;
}

button {
    &:hover {
        cursor: pointer;
        &.disabled {
            cursor: default;
        }
    }
}

th {
    background-color: $gray-lighter;
}

/**
 * Selector Rules
 */
.country-selector,
.stamp-collection-selector,
.album-selector,
.seller-selector,
.catalogue-selector {
    max-width: 45rem;
}

.condition-selector, .grade-selector {
    max-width: 17.5rem;
}

.currency-selector {
    max-width: 10rem;
}

.pageSize-selector {
    max-width: 15rem;
}

.form-group.has-error {
    .validation-message {
        color: $brand-danger;
    }
}
