// Variables
// --------------------------------------------------
@import 'mixins';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$red:                   #d9534f;
$orange:                #f0ad4e;
$blue:                  #337ab7;
$green:                 #2b9b5f;
$white:                 #fff;
$white-black:           #f0f0f0;
$white-dark:            #f9f9f9;
$white-medium:          #fdfdfd;
$gray-light:            #ccc;
$gray-lighter:          #eee;


///////////////////////////////////////////////////////////////////////////////
//
// Bootstrap variable overrides - Globals
//
///////////////////////////////////////////////////////////////////////////////
$theme-colors: (
                   "danger": $red,
                   "info": lighten($blue, 35%),
                   "light": $gray-300,
                   "warning": $orange,
                   "primary": $blue,
                   "secondary": $gray-300,
                   "disabled": $gray-600,
                   "success": $green
               );

$body-bg: $white;
$body-color: $gray-800;


$progress-color: lighten(theme-color("success"), 15%);
$progress-working:  $white;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$brand-primary: theme-color("primary") !default; //darken(#428bca, 2.5%); // #337ab7

$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px


$link-color: theme-color("primary") !default;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

$theme-warning-color: theme-color("warning");
$theme-invalid-color: theme-color("danger");
$theme-success-color: theme-color("success") !default;

$theme-link-color: $link-color !default;

$theme-image-bg: theme-color("dark") !default;

//== Typography
//
$font-size-base: 1.4rem;
$theme-font-size-base: $font-size-base;
$theme-font-size-xs: $theme-font-size-base * 0.71; // ~ 10px
$theme-font-size-sm: $theme-font-size-base * 0.875; // ~ 12px
$theme-font-size-large: $theme-font-size-base * 1.14; // ~ 16px
$theme-font-size-x-large: $theme-font-size-base * 1.25; // ~ 17.5px
$theme-font-size-xx-large: $theme-font-size-base * 1.35; // ~ 19px

$theme-text-color: $body-color !default;
$theme-text-disabled-color: theme-color("disabled") !default;

$theme-focus-color: theme-color("info") !default;
$theme-highlight-color: darken(theme-color("info"), 5%) !default;
$theme-clear-color: $red !default;

$theme-panel-bg: $body-bg;
$theme-panel-contrast-bg: darken($theme-panel-bg, 3%) !default;
$theme-panel-header-bg: $gray-100 !default;

$theme-badge-color: $theme-text-color;

$theme-error-font-size: $theme-font-size-xs;

$theme-margin-base: 1.0rem !default;
$theme-margin-thick: 2.0rem !default;
$theme-margin-thin: 0.5rem !default;
$theme-margin-thinner: 0.2rem !default;

$theme-padding-base: 1.0rem !default;
$theme-padding-thick: 2.0rem !default;
$theme-padding-thicker: 3.5rem !default;
$theme-padding-thin: 0.5rem !default;
$theme-padding-thinner: 0.2rem !default;
$theme-padding-input: 0.15rem !default;

$theme-border-color: theme-color("secondary") !default;
$theme-border-radius: $border-radius !default;
$theme-border: 1px solid $theme-border-color !default;
$theme-border-disabled: 1px solid theme-color("disabled");
$theme-btn-border: 1px solid theme-color("disabled");

$theme-active-color:    theme-color("light") !default;
$theme-active-bg:       theme-color("primary") !default;

$theme-action-color: theme-color("info") !default;

$theme-table-selected-bg: $theme-highlight-color !default;

$theme-modal-bg: $gray-600;

$theme-success-color: theme-color("success") !default;

// Forms
$theme-form-title-color: theme-color("primary") !default;
$theme-input-border-color: $input-border-color !default;
$theme-input-color: $input-color !default;
$theme-input-height: 2.8rem !default;


// Navbar
$theme-appbar-color: $body-bg;
$theme-appbar-bg: theme-color("primary");


// Pills
$theme-pill-color-bg: $gray-200;

// Tooltips
$theme-tooltip-opacity: 0.98 !default;
$theme-tooltip-arrow-width: 0.5rem !default;

// Thumbnails
$theme-thumbnail-padding: 0.4rem;

