// Variables
// --------------------------------------------------
@import './mixins';
@import './colors';

$theme-warning-color: $warning;
$theme-invalid-color: $danger;
$theme-success-color: $success !default;

$theme-link-color: $primary !default;

$theme-image-bg: $dark !default;

$theme-progress-color: lighten($success, 15%);
$theme-progress-working:  $white;

//== Typography
//
$theme-font-size-base: 14px;
$theme-font-size-xs: $theme-font-size-base * 0.71; // ~ 10px
$theme-font-size-sm: $theme-font-size-base * 0.875; // ~ 12px
$theme-font-size-large: $theme-font-size-base * 1.14; // ~ 16px
$theme-font-size-x-large: $theme-font-size-base * 1.25; // ~ 17.5px
$theme-font-size-xx-large: $theme-font-size-base * 1.35; // ~ 19px

$theme-text-color: $body-color !default;
$theme-text-disabled-color: $disabled !default;

$theme-focus-color: $info !default;
$theme-highlight-color: darken($info, 5%) !default;
$theme-clear-color: $red !default;

$theme-panel-bg: $body-bg;
$theme-panel-contrast-bg: darken($theme-panel-bg, 3%) !default;
$theme-panel-header-bg: $gray-300 !default;

$theme-badge-color: $theme-text-color;

$theme-error-font-size: $theme-font-size-xs;

$theme-margin-base: 1.0rem !default;
$theme-margin-thick: 2.0rem !default;
$theme-margin-thin: 0.5rem !default;
$theme-margin-thinner: 0.2rem !default;

$theme-padding-base: 1.0rem !default;
$theme-padding-thick: 2.0rem !default;
$theme-padding-thicker: 3.5rem !default;
$theme-padding-thin: 0.5rem !default;
$theme-padding-thinner: 0.2rem !default;
$theme-padding-input: 0.15rem !default;

$theme-border-color: $secondary !default;
$theme-border-radius: 0.25rem !default;
$theme-border: 1px solid $theme-border-color !default;
$theme-border-disabled: 1px solid $disabled;
$theme-btn-border: 1px solid $disabled;

$theme-btn-secondary-bg: $gray-300;
$theme-btn-secondary-active-bg: $gray-500;

$theme-btn-action-height: 2.8rem;

$theme-active-color:    $light !default;
$theme-active-bg:       $primary !default;

$theme-action-color: $info !default;

$theme-table-selected-bg: $theme-highlight-color !default;
$theme-table-hover-bg: $gray-100;

$theme-modal-bg: $gray-600;

$theme-success-color: $success !default;

// Forms
$theme-form-title-color: $primary !default;
$theme-input-border-color: $gray-400 !default;
$theme-input-color: $body-color !default;
$theme-input-height: 2.8rem !default;

$theme-input-disabled: $gray-400;
$theme-input-hover-bg: $gray-200;

// Navbar
$theme-appbar-color: $body-bg;
$theme-appbar-bg: $primary;
$theme-appbar-brand-height: 4.4rem;

// Pills
$theme-pill-color-bg: $gray-200;

// Tooltips
$theme-tooltip-opacity: 0.98 !default;
$theme-tooltip-arrow-width: 0.5rem !default;

// Thumbnails
$theme-thumbnail-padding: 0.4rem;

