// Variables
// --------------------------------------------------

@import 'color-mappings';
@import 'mixins';
@import '../../node_modules/bootstrap/scss/variables';


//== Colors
//
//## Gray and brand colors for use across Bootstrap.


$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333

$brand-primary:         $blue !default; //darken(#428bca, 2.5%); // #337ab7
$brand-success:         $green !default;
$brand-info:            $blue-bright !default;
$brand-warning:         $orange !default;
$brand-danger:          $red !default;


$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;

$theme-warning-color: $brand-warning;
$theme-invalid-color: $brand-danger;
$theme-success-color: $brand-success !default;

$theme-link-color: $link-color !default;

$theme-panel-header-bg: $white-dark !default;

$theme-image-bg: $gray-dark !default;

//== Typography
//
$font-size-base: 1.4rem;
$theme-font-size-base: $font-size-base;
$theme-font-size-xs: $theme-font-size-base * 0.71; // ~ 10px
$theme-font-size-sm: $theme-font-size-base * 0.875; // ~ 12px
$theme-font-size-large: $theme-font-size-base * 1.14; // ~ 16px
$theme-font-size-x-large: $theme-font-size-base * 1.25; // ~ 17.5px

$theme-text-color: $text-color !default;
$theme-text-disabled-color: $gray-light !default;

$theme-focus-color: $brand-info !default;
$theme-highlight-color: $green-pale !default;
$theme-clear-color: $red !default;

$theme-panel-bg: $body-bg !default;
$theme-panel-contrast-bg: $white-dark !default;

$theme-btn-primary-color: $brand-primary !default;

$theme-badge-color: $theme-text-color;

$theme-margin-base: 1.0rem !default;
$theme-margin-thick: 2.0rem !default;
$theme-margin-thin: 0.5rem !default;
$theme-margin-thinner: 0.2rem !default;

$theme-padding-base: 1.0rem !default;
$theme-padding-thick: 2.0rem !default;
$theme-padding-thicker: 3.5rem !default;
$theme-padding-thin: 0.5rem !default;
$theme-padding-thinner: 0.2rem !default;
$theme-padding-input: 0.15rem !default;

$theme-border-color: $gray-light !default;
$theme-border-radius: $border-radius !default;
$theme-border: 1px solid $theme-border-color !default;

//** Global color for active items (e.g., navs or dropdowns).
$theme-active-color:    $white !default;
//** Global background color for active items (e.g., navs or dropdowns).
$theme-active-bg:       $brand-primary !default;

$theme-action-color: $brand-info !default;

$theme-table-selected-bg: $blue-pale !default;

$theme-success-color: $green !default;

//== Forms
$theme-form-title-color: $blue !default;
$theme-input-border-color: $gray-light !default;
$theme-input-color: $gray !default;
$theme-input-height: 2.8rem !default;


////== Navbar

$theme-appbar-color: $gray-lighter;
$theme-appbar-bg:    $brand-primary;


////== Pills

$theme-pill-color-bg: $white-black;

////== Tooltips
//$tooltip-max-width:           250px;
//$theme-tooltip-color: $text-color !default;
//$theme-tooltip-bg: $cream !default;
$theme-tooltip-opacity: 0.98 !default;
$theme-tooltip-arrow-width: 0.5rem !default;

////== Thumbnails
$theme-thumbnail-padding:           0.4rem;



