<template>
	<sort-dialog sort.bind="options.sort" sort-options.bind="sortColumns" dialog-id="exampleModal" ></sort-dialog>
	<require from="../components/stamp-grid"></require>
	<require from="../components/sort-dialog"></require>
	<nav class="navbar navbar-default stamp-grid-nav">
		<form class="navbar-form" role="search" submit.delegate="sendSearch()">
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-sm btn-default" title="New Stamp">
						<span class="glyphicon glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<div class="btn-group" role="group">
					<div class="form-group">
						<input type="text" class="form-control" value.bind="searchText" placeholder="Search">
						<button type="submit" class="btn btn-sm btn-default" title="Search">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>

				</div>
				<div class="btn-group" role="group">
					<button class="btn btn-sm btn-default" title="Show as grid" click.delegate="setViewMode('Grid')">
						<span class="glyphicon glyphicon-th"></span>
					</button>
					<button class="btn btn-sm btn-default" title="Show as list" click.delegate="setViewMode('List')">
						<i class="fa fa-list-alt"></i>
					</button>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle sort-selector" data-toggle="dropdown">
						<span class="selector-text">${options.sort.text | defaultValue:'Sort by'}</span>
						<span class="caret"></span>
					</button>

					<ul class="dropdown-menu" role="menu">
						<li repeat.for="sortCol of sortColumns" click.delegate="$parent.setSort(sortCol)">${sortCol.text}</li>
					</ul>
					<button class="btn btn-sm btn-default" click.delegate="toggleSortDirection()">
						<span class="glyphicon ${options.sortDirection === 'asc' ? 'glyphicon-sort-by-alphabet' : 'glyphicon-sort-by-alphabet-alt'}"></span>
					</button>
					<button class="btn btn-sm btn-default ${options.sort ? '' : 'disabled'}" title="Clear sort" click.delegate="clearSort()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<!--
					<button class="btn btn-sm btn-default hidden" data-toggle="modal" data-target="#exampleModal" click.delegate="">
						<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
					</button>
					-->
				</div>

			<!--
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm"><span
						class="glyphicon glyphicon glyphicon-plus"></span> New stamp
					</button>
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">New stamp</a></li>
						<li><a href="#">New wantlist stamp</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				-->

				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
							aria-expanded="false">
						Filter <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>All stamps</li>
						<li>Only owned stamps</li>
						<li>Only wantlist stamps</li>
					</ul>
				</div>

				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle result-size-selector" data-toggle="dropdown">
						<span class="selector-text">${options.$top | defaultValue:'Size'}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li repeat.for="size of pageSizes" click.delegate="$parent.setSize(size)">${size}</li>
					</ul>
				</div>



			</div>
		</form>

	</nav>
	<div if.bind="gridMode" >
		<stamp-grid stamps.bind="stamps"></stamp-grid>
	</div>
	<div show.bind="!gridMode">
		<div> THIS IS A LIST</div>
	</div>
	<div class="sw-fullsize-image" if.bind="imageShown" click.delegate="closeFullSizeImage()">
		<img src.bind="fullSizeImage" error.delegate="closeFullSizeImage()">
	</div>
	<nav class="navbar navbar-default stamp-list-footer">
		<form class="navbar-form" role="footer">
			<ul class="pagination">
				<li>
					<a click.delegate="setPage(pageInfo.active - 1)" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li repeat.for="page of _.range(pageInfo.total)" class="${($parent.pageInfo.active == $index) ? 'active' :''}"><a click.delegate="$parent.setPage($index)">${page+1}</a></li>
				<li>
					<a click.delegate="setPage(pageInfo.active + 1)" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
			<div class="btn-toolbar" role="toolbar">

				<div class="results-group">
					Total: <span class="badge">${pageInfo.active * options.$top + 1} - ${pageInfo.active * options.$top + stamps.length}</span> of <span class="badge">${stampCount}</span>
				</div>
			</div>
		</form>
	</nav>


</template>
