@import "../../generated/theme-variables.less";

.stamp-grid-nav {
	top: 0px;
	border-radius: 0;
	font-size: 0.9em;
	.form-control {
		height: 30px;
		font-size: 0.9em;
	}
	.btn {
		&.disabled {
			opacity: 0.35;
		}
	}
}

.stamp-list-footer {
	bottom: 0px;
	position: absolute;
	width: 100%;
	border-radius: 0;
	border-top: ridge 1px #efefef;
	margin: 5px 0 0 0;
	font-size: 0.9em;
	.form-control {
		height: 30px;
	}
	.pagination {
		display: block;
		margin: 0;
	}
}

.sort-selector {
	width: 150px;
	text-align: left;
	.caret {
		float: right;
		top: 7px;
		position: inherit;
	}
}

.result-size-selector {
	width: 65px;
	text-align: left;
	.caret {
		float: right;
		top: 7px;
		position: inherit;
	}
}

.dropdown-toggle {
	margin-right: 2px;
}

.results-group {
	float: right;
	line-height: 30px;
	position: relative;
}

