<template>
	<require from="../../value-converters/stamp-count"></require>
    <require from="../../value-converters/filter-by-name"></require>
    <require from="../../attributes/find-target"></require>

    <div class="manage-list-toolbar d-none d-lg-flex">
        <div class="filter input-group">
                <label for="filter-text">${'manage.filter'|t}</label>
                <input id="filter-text" ref="filterInput" find-target class="form-control"
                       placeholder="${'manage.filterPlaceholder'|t}" type="text" value.bind="filterText">
                <button class="btn-outline-secondary btn" disabled.bind="filterText===''" click.delegate="clear()">
                    <span class="sw-icon-cancel"></span>
                </button>
        </div>
        <div class="total">
            <label>${'manage.totalResults'|t} ${models.length}</label>
        </div>
    </div>
    <div class="manage-list-contents">
        <table class="table table-hover entity-list">
            <thead>
            <tr>
                <th if.bind="hasIssue" class="d-none d-lg-table-cell">Issue</th>
                <th class="col-name">Name</th>
                <th class="col-actions">Actions</th>
                <th class="col-count">Count</th>
                <th if.bind="hasIssue" class="d-none d-lg-table-cell">Currency</th>
                <th class="d-none d-lg-table-cell">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="model of models | filterByName:filterText">
                <td if.bind="hasIssue" class="d-none d-lg-table-cell">${model.issue}</td>
                <td class="col-name">${model.name}</td>
                <td>
                    <div class="btn-group actions" role="group">
                        <button type="button" class="btn btn-secondary edit-action d-none d-lg-block" click.delegate="edit(model)" data-bs-toggle="modal" data-bs-target="#editorDialog">
                            <span class="sw-icon-edit"></span>
                        </button>
                        <button type="button" class="btn btn-secondary delete-action d-none d-lg-block" click.trigger="remove(model)">
                            <span class="sw-icon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-secondary view-action" title="View stamps for ${model.name}" click.delegate="viewStamps(model)">
                            <i class="sw-icon-search"></i>
                        </button>
                    </div>
                </td>
                <td>${model.stampCount | stampCount}</td>
                <td if.bind="hasIssue" class="d-none d-lg-table-cell">${model.code}</td>
                <td class="d-none d-lg-table-cell">${model.description}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
