@import "@@pathToTheme/@@theme/variables.less";

collapse-panel {
    width: 100%;
    >.panel {
        border: none;
    }
    .collapse-header h4.panel-title {
        padding-left: 15px;
        padding-top: 15px;
    }
    .btn-close {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
