<template>
	<div class="modal fade" id="${dialogId}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Sort Options</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="sort-column" class="col-sm-2 control-label">Sort by</label>
							<div class="col-sm-10">
								<button type="button" id="sort-column" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
									${sort.text | defaultValue:'Sort by'} <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li repeat.for="sortCol of sortOptions" click.delegate="$parent.chooseSort(sortCol)">${sortCol.text}</li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" click.delegate="close()">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</template>
