@import "@@pathToTheme/@@theme/variables.less";

@thumbnail-size: 160px;

.stamp-card {
	height: 285px;
	width: 300px;
	display: inline-block;
	padding: @panel-body-padding;
	border: @panel-inner-border solid thin;
	border-radius: @thumbnail-border-radius;
	margin: 2px;
	font-size: 0.9em;
	//background-image: linear-gradient(to bottom, #ffffff 0%, #f3f3f4 100%);
	background-repeat: repeat-x;
	color: @text-color;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

	&.selected {
		border: @input-border-focus 2px solid;
	}

	div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: auto;
	}

	.action-panel {
		height: @line-height-computed * 2.5;
		padding-top: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-top: @padding-small-vertical;
		left: 50%;
		position: relative;
		transform: translate(-50%,0);
	}
	.card-header {
		text-align: center;
	}

	.description {
		text-align: center;
		font-size: 0.9em;
		padding-bottom: @padding-small-vertical;
	}

	.stamp-thumbnail {
		padding: @thumbnail-padding;
		margin: auto;
		height: @thumbnail-size;
		width: @thumbnail-size;
		background-color: @gray-dark;
		position: relative;
		border-radius: @thumbnail-border-radius;
		img {
			max-width: @thumbnail-size - 10px;
			max-height: @thumbnail-size - 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}
