@import "@@pathToTheme/@@theme/variables.less";

@thumbnail-size: 160px;
.nowrap-text() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stamp-card {
    position: relative;
	height: 285px;
	width: 300px;
	display: inline-block;
    cursor: default;
	padding: @panel-body-padding;
	border: @panel-inner-border solid 2px;
	border-radius: @thumbnail-border-radius;
	margin: 2px;
	font-size: 0.9em;
	color: @text-color;

    &::selection {
        background: transparent;
    }

    &::-moz-selection {
        background: transparent;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

	&.selected {
		border: @input-border-focus 2px solid;
        &.highlight {
            border: @highlight-color 2px solid;
            //background-image: linear-gradient(to bottom, #ffffff 0%, lighten(@highlight-color, 20%) 100%);
            //background-repeat: repeat-x;
            background: lighten(@highlight-color, 20%);
        }
	}

    div {
        margin: auto;
    }

	.action-panel {
		height: @line-height-computed * 2.5;
		padding-top: 5px;
		margin-left: auto;
		margin-right: auto;
		margin-top: @padding-small-vertical;
		left: 50%;
		position: relative;
		transform: translate(-50%,0);
        .btn,
        .btn > span {
            cursor: pointer;
        }
	}

	.card-header {
        .nowrap-text();
		text-align: center;
        position: relative;
        .header-status {
            display: inline-block;
            float: left;
            background-color: @panel-bg;
            margin-right: @padding-small-horizontal / 2;
        }
	}

	.description {
		text-align: center;
        .nowrap-text();
		font-size: 0.9em;
		padding-bottom: @padding-small-vertical;
	}

	.stamp-thumbnail {
		padding: @thumbnail-padding;
		margin: auto;
		height: @thumbnail-size;
		width: @thumbnail-size;
		background-color: @gray-dark;
		position: relative;
		border-radius: @thumbnail-border-radius;
		img {
            cursor: pointer;
			max-width: @thumbnail-size - 10px;
			max-height: @thumbnail-size - 10px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}
