<template>
	<require from="../components/stamp-card"></require>
    <require from="../components/catalogue-numbers/cn-references"></require>

	<div class="sw-stamp-grid">
		<div class="scroller ${showCatalogueNumbers ? 'with-references' : ''}">
			<stamp-card repeat.for="stamp of stamps" model.bind="stamp" selected.bind="stamp.selected" highlight.bind="stamp.id===$parent.lastSelected.id"></stamp-card>
		</div>
        <div class="sw-reference-catalogue-numbers" if.bind="showCatalogueNumbers">
            <catalogue-number-references model.bind="lastSelected"></catalogue-number-references>
        </div>
	</div>
</template>
