<template>
    <require from="resources/styles/components/stamp-card.css"></require>
    <require from="../value-converters/by-name"></require>
    <require from="../value-converters/rate-filter"></require>
    <require from="../components/ownerships/ownership-notes"></require>
    <require from="../components/ownerships/ownership-cert"></require>

  <div class="stamp-card ${(selected) ? 'selected' : ''} ${(highlight) ? 'highlight' : ''}" click.trigger="toggleSelection($event)">
    <div class="card-header">
        ${activeCN.number} ${model.countryRef | byName:'countries' }
        <ownership-notes model.one-way="ownership"></ownership-notes>
        <ownership-cert model.one-way="ownership"></ownership-cert>
    </div>
    <div class="description" title="${model.rate} - ${model.description}">
      ${model.rate | rateFilter} - ${model.description}
    </div>
    <div class="stamp-thumbnail">
      <img src.bind="imagePath" onerror.bind="notFoundImage()" click.trigger="showFullSizeImage()"/>
    </div>
    <div class="btn-group action-panel" role="group">
      <button type="button" class="btn btn-default" aria-label="View">
        <span class="sw-icon-info" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default" aria-label="Edit" click.trigger="edit()">
        <span class="sw-icon-edit" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default" aria-label="Delete" click.trigger="remove()">
        <span class="sw-icon-trash" aria-hidden="true"></span>
      </button>
    </div>
  </div>


</template>
