
@red:                   #d9534f;
@orange:                #f0ad4e;
@blue:                  #337ab7;
@blue-bright:           #99bcdb;
@blue-pale:             #d6e4f0;
@green:                 #009B12;
@white:                 #fff;
@white-black:           #f0f0f0;
@white-blackish:        #f5f5f5;
@white-dark:            #f9f9f9;
@white-medium:          #fdfdfd;
@cream:                 #ffffb2;
@gray:                  #555;
@gray-light:            #ccc;
@gray-lighter:          #eee;
