<template>
	<require from="../../value-converters/empty-text"></require>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="editor-name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input id="editor-name" class="form-control" type="text" value.bind="model.name | emptyText">
			</div>
		</div>
		<div class="form-group">
			<label for="editor-desc" class="col-sm-2 control-label">Description</label>
			<div class="col-sm-10">
				<textarea id="editor-desc" value.bind="model.description | emptyText" class="form-control" rows="4"></textarea>
			</div>
		</div>
	</form>
</template>
