@import "../../../theme/_semantic.scss";

search-form {
    font-size: $theme-font-size-sm;

    form {
        padding: $theme-padding-base $theme-padding-thick;
    }

    .panel-title {
        color: $theme-form-title-color;
    }
    .search-button-bar {
        align-items: center;
        border-top: $theme-border;
        height: 4.5rem;

        label {
            font-size:   $theme-font-size-sm;
            font-weight: normal;
        }
        .editor-buttons {
            padding-right: $theme-padding-base;

            button {
                font-size: $theme-font-size-sm;
                height: $theme-input-height;

                &:first-child {
                    margin-left: $theme-margin-thin;
                }
                float: right;
            }
        }
    }
    .advanced-options {
        label {
            font-weight: normal;

            &:after {
                content: "";
            }
        }

    }
    label {
        &.disabled {
            color: $theme-text-disabled-color;
        }
    }

    .checkbox input[type="checkbox"], .radio input[type="radio"] {
        margin-bottom: $theme-margin-base;
        margin-left: 0;
        top: 0.2rem;
        transform: none;
    }
}
