@import "../../../theme/_semantic.scss";

.stamp-table {

    td {
        vertical-align: middle;
    }

    .image-col {
        min-width: 5.6rem;
        max-width: 5.6rem;
        width:     5.6rem;
    }

    .icon-col {
        min-width: 3.6rem;
        max-width: 3.6rem;
        width:     3.6rem;
    }
}
