@import "../../../theme/_semantic.scss";

stamp-details {
    .has-error {
        .help-block {
            font-size: $theme-font-size-xs;
        }
    }

    .rate-input-wrapper {
        flex-wrap: nowrap;

        .rate-input {
            width: 12rem;
        }

    }

    .description, .countryRef {
        .help-block {
            left:      25%;
            position:  relative;
            top:       0.2rem;
            max-width: 40rem;
        }
    }
}
