@import "../../../theme/_semantic.scss";

stamp-editor {
    width:     100%;
    font-size: $theme-font-size-sm;

    .editor-buttons {
        align-items: start;
        display: flex;
        flex-direction: row-reverse;
        height: 4rem;
        padding-right: $theme-padding-thin;

        button {
            font-size: $theme-font-size-sm;
            margin-left: $theme-margin-thin;
            &:first-child {
                //margin-left: 0;
            }
            float:     right;
        }

    }
}
