@import "../../../theme/_semantic.scss";

stamp-editor {
    width:     100%;
    font-size: $theme-font-size-sm;

    .editor-buttons {

        position: relative;
        right :0;

        button {
            font-size: $theme-font-size-sm;
            margin-left: $theme-margin-thin;
            &:first-child {
                //margin-left: 0;
            }
            float:     right;
        }

    }
}
