@import "@@pathToTheme/@@theme/variables.less";

jq-date-picker {
    .form-control {
        width: 90px;
        border-radius: @border-radius-base 0 0 @border-radius-base !important;
        display: inline-block;
    }
    .date-wrapper {
        white-space: nowrap;
        display: inline-block;
    }
    label {
        &.to-label {
            margin-left: @padding-base-horizontal;
        }
    }
    button {
        height: 26px;
        border-radius: 0 @btn-border-radius-base @btn-border-radius-base 0 !important;
        border: 1px solid @btn-default-border;
    }
}

.ui-datepicker {
    z-index: 8000 !important;
    th {
        font-weight: normal;
    }
    .ui-datepicker-header {
        .ui-datepicker-title {
            select {
                font-size: @font-size-small;
            }
        }
        .ui-corner-all {
            display: none;
            &.ui-state-hover {
                background-color: @component-active-color;
            }
        }
    }

    .ui-datepicker-buttonpane {
        button {
            font-size: @font-size-small * 0.9em;
        }
    }
    .ui-datepicker-calendar {
        .ui-state-default {
            border-color: @datepicker-days-border;
            background-color: @datepicker-days-bg;
        }
        .ui-state-hover {
            border-color: @datepicker-days-border-hover;
        }
        .ui-state-active {
            background-color: @datepicker-days-active;
            border-color: @datepicker-days-border-active;
        }
    }
}

.ui-widget-header {
    border: none;
    background: none;
    font-weight: normal;
}
