@import "@@pathToTheme/@@theme/variables.less";

search-form {
    .search-button-bar {
        label {
            font-size: 0.9 * @font-size-small;
        }
        .editor-buttons {
            padding-right: 0;
            button {
                &:first-child {
                    margin-left: @padding-xs-horizontal;
                }
                float: right;
            }

        }
    }
    .advanced-options {
        label:after {
            content: "";
        }
        .checkbox input[type="checkbox"], .radio input[type="radio"] {
            margin-left: 0;
        }
    }
    label {
        &.disabled {
            color: @list-group-disabled-text-color;
        }
    }
}
