@import "../../../theme/_semantic.scss";

paging-toolbar {
    align-items: center;
    display: inline-flex;

    .paging-component {
        align-items: center;
        display: inline-flex;
        float:   left;

        button {
            font-size: $theme-font-size-sm;
        }

        > * {
            align-items: center;
            display: inline-flex;
        }
    }
    div > div {
        display: inline-block;
    }
    .btn-secondary {
        padding:          $theme-padding-thinner;
    }

    .refresh-page {
        margin-left: $theme-margin-thin;
    }

    .current-page {
        position:  relative;
        padding:   0 0.5rem;
        font-size: $theme-font-size-xs;
        .enter-page {
            border:        $theme-border;
            border-radius: $theme-border-radius;
            width:         2.8rem;
            height:        2.4rem;
            padding:       0 $theme-padding-thin;
            &.invalid {
                border-color: $theme-invalid-color;
            }
        }
        input[type="number"] {
            margin-left: $theme-margin-thin;
            margin-right: $theme-margin-thin;
        }
    }
}
