body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 5px 2px 20px #434343;
  border: thin #204d74 solid;
  width: 300px;
  height: 150px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.splash .message {
  font-size: 36px;
  line-height: 36px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  margin-bottom: 5px;
  /*    text-transform: uppercase;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .version {
  font-size: 12px;
  line-height: 18px;
  /*    text-transform: uppercase;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-refresh {
  text-align: center;
  display: inline-block;
  font-size: 36px;
  margin-top: 20px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

.app-bar {
/*  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);*/

}


