@import "../generated/theme-variables.less";

body {
  margin: 0;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: @navbar-height;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.loader {
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
	height: @navbar-height;
}

.app-bar {
/*  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);*/
	padding-top: 4px;
	margin-bottom: 0px;
}

.dropdown-menu {
	color: @text-color;
	background-color: @body-bg;
	li {

		padding-left: @panel-body-padding;
		padding-top: calc( @panel-body-padding / 2.0);
		padding-bottom: calc( @panel-body-padding / 2.0);
		font-size: 0.85em;
		&:hover {
			background-color: darken(@component-active-bg, 15%);
			color: darken(@component-active-color, 10%);
		}
		&.selected {
			background-color: @component-active-bg;
			color: @component-active-color;
		}
	}
}


#nprogress .bar {
	background: @brand-success !important;
	height: 4px;
}

#nprogress .peg {
	box-shadow: 0 0 10px @brand-success, 0 0 5px @brand-success !important;
}

.modal-open .modal {
	overflow-y: hidden;
}

.form-group {
	label {
		&:after {
			content: ": "
		}
	}
}
