<template>
    <tr class="editing-row">
        <td><span if.bind="number.active" class="sw-icon-key"></span></td>
        <td class="col-md-3">
            <select-picker class="editable-cell" items.bind="catalogues" disabled.bind="loading" validate="catalogueRef" value.two-way="number.catalogueRef"
                           config.bind="{ id: 'cn-catalogueRef', tabIndex: 70, labelProperty: 'displayName', valueProperty: 'id', caption: 'editor.catalogue-select' }">
            </select-picker>
        </td>
        <td class="col-md-2">
            <select-picker class="editable-cell" items.bind="conditions" disabled.bind="loading" value.two-way="number.condition"
                           config.bind="{ id: 'cn-condition', tabIndex: 75, labelProperty: 'description', valueProperty: 'ordinal', filterSearch: false, caption: 'editor.condition-select' }">
            </select-picker>
        </td>
        <td class="col-md-2">
            <input type="text" tabindex="80" class="form-control" id="cn-number" validate="number" value.bind="number.number">
        </td>
        <td class="col-md-2">
            <input type="text" tabindex="85" class="form-control" id="cn-value" value.bind="number.value" >
        </td>
        <td class="col-md-2">
            <div class="btn-group actions">
                <button type="button" class="btn btn-default btn-xs" click.delegate="save(number)" title="${'actions.save-changes'|t}">
                    <span class="sw-icon-ok action-edit-ok"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" click.delegate="cancel(number)" title="${'actions.cancel-changes'|t}">
                    <span class="sw-icon-cancel action-edit-cancel"></span>
                </button>
            </div>
        </td>
    </tr>

</template>
