@import "@@pathToTheme/@@theme/variables.less";

nav-bar {
    nav {
        z-index: 750;

        .navbar-brand {
            > span {
                height: 28px;
            }
            span:last-child {
                top: -1.5 * @padding-base-vertical;
                position: relative;
            }
        }
        .sw-icon-pagegen {
            padding-right: 30px;
        }

        li.active {
            a {
                border-radius: 5px 5px 0 0;
            }
        }

    }
}



