<template>
	<nav class="navbar navbar-inverse navbar-fixed-top app-bar" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#collapsible-header">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<i class="sw-icon-home"></i>
				<span>${router.title|t}</span>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="collapsible-header">
			<ul class="nav navbar-nav">
				<li role="presentation">
					<a href="#/settings">
                        <span class="hidden-xs sw-icon-settings" aria-hidden="true" title="${'nav.settings'|t}"></span>
                        <span class="visible-xs"> ${'nav.settings'|t}</span>
                    </a>
				</li>
				<li role="presentation" repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
					<a href.bind="row.href">${row.title|t}</a>
				</li>
			</ul>
		</div>
	</nav>
</template>
