<template>
	<nav class="navbar navbar-inverse navbar-fixed-top app-bar" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#collapsible-header">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<span class="app-icon-stampweb"></span>
				<span>${router.title|t}</span>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="collapsible-header">
			<ul class="nav navbar-nav">
				<li role="presentation">
					<a href="#/settings">
                        <span class="hidden-xs sw-icon-settings" aria-hidden="true" title="${'nav.settings'|t}"></span>
                        <span class="visible-xs"> ${'nav.settings'|t}</span>
                    </a>
				</li>
				<li role="presentation" repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
					<a href.bind="row.href">${row.title|t}</a>
				</li>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation">
                    <a href="http://www.drakeserver.com/javaws/tools/stamp-imageparsing.jnlp" title="${'nav.image-burst'|t}">
                        <span class="hidden-xs sw-icon-imageburst"></span>
                        <span class="visible-xs">${'nav.image-burst'|t}</span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="http://www.drakeserver.com/javaws/tools/stamp-pagegen.jnlp" title="${'nav.page-gen'|t}">
                        <span class="hidden-xs sw-icon-catalogue sw-icon-pagegen"></span>
                        <span class="visible-xs">${'nav.page-gen'|t}</span>
                    </a>
                </li>
            </ul>
		</div>
	</nav>
</template>
