@import "../../../theme/_semantic.scss";

// Datepickers
$datepicker-days-bg: $white-medium;
$datepicker-days-border: $theme-border-color;
$datepicker-days-outside-range: $gray-light;
$datepicker-days-outside-range-bg: $white-black;
$datepicker-days-border-hover: $theme-border-color;
$datepicker-days-hover-bg: $gray-lighter;
$datepicker-days-border-active: $blue-bright;
$datepicker-days-active: $blue-pale;
$datepicker-calendar-hover: $blue;
$datepicker-today-bg: $blue-bright;
$datepicker-header-hover: $white-dark;
$datepicker-header-border: lighten($theme-border-color, 10%);
$datepicker-footer-hover: $white-dark;
$datepicker-footer-border: lighten($theme-border-color, 10%);

date-picker {
    outline-style:               none;
    -webkit-tap-highlight-color: transparent;
    z-index:                     2000;
}

.date-wrapper {
    label {
        position:       relative;
        display:        inline-block;
        text-align:     left;
        margin-bottom:  0;
        padding-top:    $theme-padding-thin;
        padding-right:  $theme-padding-thin;
        vertical-align: middle;
        ussr-select:    none;
        &:focus {
            border:  none;
            outline: none;
        }
        &:after {
            content: ''
        }

    }
    &:nth-child(2) {
        label {
            padding-left: $theme-padding-thin;
        }

    }
}

.date-control {
    display:  inline-block;
    z-index:  auto;
    position: relative;
    input[type="text"] {
        z-index:                    auto;
        max-width:                  11rem;
        input::selection, textarea::selection {
            background: $theme-active-bg;
            color:      $theme-active-color;
        }
        border-top-right-radius:    $theme-border-radius !important;
        border-bottom-right-radius: $theme-border-radius !important;
    }
    .sw-icon-calendar {
        z-index:  auto;
        position: absolute;
        color:    $theme-input-color;
        right:    $theme-padding-thinner;
        top:      $theme-padding-thinner;
        cursor:   pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            color: $datepicker-calendar-hover;
        }
    }

    .sw-icon-cancel {
        z-index:   auto;
        position:  absolute;
        color:     $theme-input-color;
        right:     1.8rem;
        cursor:    pointer;
        top:       $theme-padding-thin;
        transform: scale(0.60);
        &:focus {
            outline: none;
        }
        &:hover {
            color: $datepicker-calendar-hover;
        }
    }
}

.datepicker {
    &.dropdown-menu {
        z-index: 1;
    }
    table {
        tbody {
            td.day {
                font-size:        $theme-font-size-sm;
                width:            3rem;;
                max-width:        3rem;
                min-width:        3rem;
                border-color:     $theme-active-color;
                background-color: $theme-active-color;
                &.active {
                    &:active, &.highlighted:active {
                        border-color:     $datepicker-days-border-active;
                        background-color: $datepicker-days-active;
                        color:            $theme-active-color;
                    }
                }
                &.disabled {
                    color:           $datepicker-days-outside-range;
                    backgroud-color: $datepicker-days-outside-range-bg;
                    &:hover {
                        background-color: $theme-active-color;
                    }
                }
                &.today {
                    background-color: $datepicker-today-bg;
                }
                &:hover {
                    background-color: $datepicker-days-hover-bg;
                    border-color:     $datepicker-days-border-hover;
                }
            }
            td {
                span.month, span.year {
                    font-size: $theme-font-size-sm;
                }
            }
            th {
                font-weight: normal;
            }
        }
        thead {
            tr {
                &:nth-child(3) {
                    border-bottom: $theme-border;
                }
                th {
                    font-weight: normal;
                    font-size:   $theme-font-size-xs;
                }
                .datepicker-switch, .prev, .next {
                    &:hover {
                        background-color: $datepicker-header-hover;
                        border:           0.1rem solid $datepicker-header-border;
                    }
                }

            }
        }
        tfoot {
            tr {
                th {
                    font-size:   $theme-font-size-xs;
                    font-weight: normal;
                    &:hover {
                        background-color: $datepicker-footer-hover;
                        border:           0.1rem solid $datepicker-footer-border;
                    }
                }
            }
        }
    }
}
