@import "../../../theme/_semantic.scss";
@import "../../../../node_modules/flatpickr/dist/flatpickr.min.css";

date-picker {
.date-picker-wrapper {
    align-items: center;
    display: flex;
    max-width: 11.5rem;
    position: relative;

    input {
        flex: 1 1 auto;
    }

    .sw-icon-calendar, .sw-icon-cancel {
        position:absolute;
        top: 50%;
        transform: translateY(-50%);


        &.sw-icon-calendar {
            right: $theme-margin-thin;
        }


        &.sw-icon-cancel {
            color: $theme-clear-color;
            right: #{$theme-margin-thinner + $theme-margin-thick};
        }

    }
}
}

$date-picker-width: 22rem;
$date-picker-year-width: 5rem;

.flatpickr-calendar {
    font-size: $theme-font-size-sm;
    width: $date-picker-width;

    .flatpickr-months {
        align-items: center;
        background: $theme-panel-header-bg;
        position: unset;

        .flatpickr-prev-month, .flatpickr-next-month {
            height: 2.5rem;
            padding-bottom: 0;
            padding-top: 0;
            position: unset;
            transform: scale(0.75);

            &:hover {
                color: $theme-active-bg;
                font-weight: 800;
            }
        }

        .flatpickr-month {
            background: transparent;
            position: unset;

            .flatpickr-current-month {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                padding-top: $theme-padding-thinner;

                .flatpickr-monthDropdown-months {
                    border-bottom: 1px solid transparent;
                    display: flex;
                    flex: 1 1 auto;
                    font-size: $theme-font-size-sm;
                    margin-right: $theme-margin-thinner;
                    text-align: center;

                    &:hover {
                        background: transparent;
                        border-bottom-color: $theme-active-bg;
                    }
                }
                .numInputWrapper {
                    display: flex;
                    flex: 1 1 auto;
                    font-size: $theme-font-size-sm;
                    max-width: $date-picker-year-width;
                    min-width: $date-picker-year-width;
                    width: $date-picker-year-width;

                    &:hover {
                        background: transparent;
                        border-bottom-color: $theme-active-bg;
                    }
                }
            }
        }
    }
    .flatpickr-days {
        width: $date-picker-width;

        .dayContainer {
            max-width: $date-picker-width;
            min-width: $date-picker-width;
            width: $date-picker-width;

            .flatpickr-day {
                border-radius: $theme-border-radius;
                height: 2.5rem;
                line-height: 2.5rem;

                &.selected {
                    background: $theme-active-bg;
                    border-color: $theme-active-bg;
                    color: $theme-active-color;
                }
            }
        }
    }

    .flatpickr-current-month {
        font-size: $theme-font-size-base;
    }
}
